.resumo__titulo {
  font-family: var(--raleway);
  font-size: 52px;
  font-weight: 700;
  color: #464646;
  align-self: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-style: normal;
}

@media (max-width: 768px) {
  .resumo__titulo  {
    font-family: var(--raleway);
    font-size: 28px;

  }
}
