
.resumo__imagem {
  display: flex;

  border-radius: 100%;
  flex-direction: column;
  width: 290px;
  height: 268px;
  

 
}

@media scren and (min-width:768px){

  .resumo__imagem {
   width: 126px;
   height: 126px;

  }

}