
.resumo__imagem {
  display: flex;

  border-radius: 100%;
  flex-direction: column;
  width: 290px;
  height: 268px;
  

 
}

@media (max-width:768px){

  .resumo__imagem {
   width: 146px;
   height: 146px;

  }

}