.resumo {
  display: inline-block;

  flex-direction: column;

}


@media(max-width:768px){
.remumo {
  display: flex;
  flex-direction: column;
}

}




@media(max-width:360px){
  .remumo {
    display: flex;
    flex-direction: column;
  }
  
  }