.resumo__imagem {
  display: flex;

  border-radius: 100%;
  flex-direction: column;
  width: 290px;
  height: 268px;
}

@media (max-width: 768px) {
  .resumo__imagem {
    display: flex;
    flex-direction: column;
    width: 146px;
    height: 146px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 360px) {
  .remumo__imagem img {
    display: block;
    flex-direction: column;
    width: 98px;
    height: 98px;
  }
}
