.skills__titulo {
    
    font-family: 'Raleway', cursive;
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0 2rem 0;
    
    
}

@media  (max-width:360px){

    .skills__titulo {
      font-size: 22px;     
      line-height: 26px;
        margin-top: 1rem;
  
    }
  
  }
  