.formacaoAcademica__titulo {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #464646;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (max-width:768px) {
  .formacaoAcademica__titulo {
    margin-top: 1rem;
  }
}
