.formacaoAcademica__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.formacaoAcademica__titulo {
  font-style: normal;
  font-weight: 700;
  font-size: 32p;
}

.formacaoAcademica__lista--card {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  border: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.logo {
  width: 368px;
  height: 286px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.formacaoAcademica__lista--curso {
  display: block;
  text-align: start;
  margin-top: 0.5rem;
}

.formacaoAcademica__lista--nome {
  font-size: 22px;
  font-weight: 700;
}

.formacaoAcademica__lista--anoCurso {
  font-size: 19px;
  font-weight: 500;
}

.formacaoAcademica__lista--card .imagem {
  display: flex;
  flex-direction: column;
  align-self: center;

  width: 192px;
  height: 130px;
}

.formacaoAcademica__lista--card .imagem:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .formacaoAcademica__lista--card {
    justify-content: center;
    justify-items: center;
    align-items: start;
  }

  .logo {
    display: flex;
    width: 224px;
    height: 118px;
    justify-content: center;
    align-items: center;
  }

  .formacaoAcademica__lista--card .imagem {
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 58px;
  }

  .formacaoAcademica__lista--nome {
    font-size: 13px;
    font-weight: 700;
  }

  .formacaoAcademica__lista--anoCurso {
    font-size: 12px;
    font-weight: 500;
  }
}
