.sobre {
  display: flex;
  background: #eaf2fd;
  width: 100vw;

  height: 363px;
  align-content: center;

}

@media (max-width: 768px)    {
  .sobre {
    align-items: center;
    height:400px;
    flex-direction: column;
  
    
  }
}

