.sobre__titulo {
  display: flex;

  font-family: 'Raleway' , cursive;
  color: #464646;
  font-weight: 700;
  font-size: 32px;
  margin-top: 2rem;
   
  
}



@media (max-width:768px) {
  .sobre__titulo {
   display: flex;
    margin-left: 3%;
   font-size: 22px;
   line-height: 20px;
   margin-top: 1rem;

   
  }
}

@media (max-width:360px) {
  .sobre__titulo {
    font-family: var(--raleway);
   display: flex;
    margin-left: 3%;
   font-size: 22px;
   line-height: 26px;
  

   
  }
}
