.sobre {
  display: flex;
  background: #eaf2fd;
  width: 100vw;

  height: 353px;
  align-content: center;
  padding-top: 1%;
}


@media (min-width: 768px) {
  .sobre {
   display: flex;
   flex-direction: column ;
padding: 30px;

   
  }
}
