.sobre__container {

padding-left: 10%;
padding-right: 10%;
margin-top: 2rem;


} 

@media (max-width: 768px) {
  .sobre__container  {
   display: flex;
   flex-direction: column ;

   padding: 8px;
   gap: 10px;
  }
}


@media (max-width: 360px) {
  .sobre__container  {
   display: flex;
   align-items: flex-start;
    margin-top: 0.2rem;
    padding: 0;
    gap: 16px;
  }
}
