.contato__copyright {
  display: flex;

  height: 102px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
}

.contato__copyright .contato__copyright--texto {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
}
