.contato__dados {
  display: flex;
  flex-direction: column;
  background: #eaf2fd;
  width: 656px;
  height: 596px;
}

.contato__dados--titulo {
  font-family: var(--raleway);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-top: 1rem;
  color: #464646;
}

.contato__dados--informacao {
  font-family: var(--raleway);
  font-size: 16px;
}

.contato__dados .formulario {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.formulario__iten {
  display: flex;
  width: 656px;
  height: 46px;
  margin-bottom: 1rem;
}

.formulario__mensagem {
  width: 656px;
  margin-bottom: 2rem;
}

.contato__dados--enviar {
  width: 165px;
  height: 51px;
}

.contato__dados--enviar:hover {
  background: #2a7ae4;
  color: white;
}

@media (max-width: 768px) {
  .contato__dados--enviar:hover {
    background: #2a7ae4;
    color: white;
  }
}

@media (max-width: 360px) {
  .contato__dados {
    width: 360px;
    padding: 0rem;
    margin: 0;
  }

  .contato__dados--titulo {
    font-size: 22px;
    line-height: 26px;
    margin-top: 1rem;
  }

  .formulario {
    width: 360px;
    justify-content: center;
    margin-right: 1rem;
  }
  .contato__dados .formulario input {
    width: 320px;
    height: 30px;
  }

  .contato__dados .formulario textarea {
    width: 320px;
  }

  .contato__dados--enviar {
    width: 151px;
    height: 40px;
  }
  .contato__dados--enviar:hover {
    background: #2a7ae4;
    color: white;
  }
}
