.experienciaProfissional__titulo {

   font-family: 'Raleway ', cursive ;
   font-weight: 700;
   font-size: 2rem;
   text-align: center;
   color: #464646;
   margin-top: 3rem;
   margin-bottom: 2rem;
   
}