.experiencia__card {
  display: flex;

  justify-content: space-between;
  width: 752px;
  height: 406px;
  border: 1px black;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.experiencia__card--video {
  width: 752px;
  height: 406px;

}
