.hobbies__icones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  
}

.hobbies__icones--icone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1px;
  width: 176px;
  height: 174px;
  background: #FFFFFF;
  margin-left: 1em;
  margin-bottom: 1rem;
}

.hobbies__icones--icone:hover {
  transition: 0.5s;
  box-shadow: 0 0 10px 4px #a2a8b6;
}


.hobbies__icones--icone .imagem {
  width: 33px;
  height: 43px;
}


@media (max-width:768px) {
  .hobbies__icones {
    justify-content: center;
    justify-items: center;
  }

  .hobbies__icones--icone {
    width: 224px;
    height: 118px;
  }

  
}


@media (max-width: 360px) {
  .hobbies__icones {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: flex-start;

     align-self: stretch;
     padding: 0.5rem;
     
  }

  .hobbies__icones .hobbies__icones--icone{
    width: 132px;
    height:105px;

    margin-left: 0.5rem;
  }
}


.hobbies__icones.hobbies__icones--icone .imagem {
  width: 25px;
  height: 24px;


}