#botaoToTopo {
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 30px;

  transform: translateY(100%);
  transition: 5000ms;
}

@media (max-width:768px){
  #botaoToTopo{
   visibility: hidden;
   transition: 500ms;
  }
}